<%# v3.0 %>

<div class='title'><%= @user.phone_number.blank? ? 'Add' : 'Update' %> Phone Number</div>

<%= turbo_frame_tag 'update_phone_number_failed_turbo_frame' do %>
  <%= render partial: '/hawthorne_core/partials/user/update_phone_number_failed' if @update_phone_number_failed %>
<% end %>

<div class='form'>

  <%= form_with url: profile_phone_number_update_verify_path do |f| %>

    <% if @user.phone_number.present? %>
      <div class='form_input'>
        <label class='form_input'>current phone number</label>
        <%= f.text_field :current_phone_number, value: HawthorneCore::Helpers::PhoneNumber.us_format(@user.phone_number), disabled: true, required: false, maxlength: 320 %>
      </div>
    <% end %>

    <div class='form_input'>
      <label class='form_input'>new phone number (us / canada only)</label>
      <%= f.text_field :new_phone_number, required: true, maxlength: 320, autofocus: true %>
    </div>

    <div class='form_submit'>
      <%= f.submit 'Continue' %>
    </div>

  <% end %>

</div>