<%# v3.0 %>

<%
  title = 'Profile'

  name_label = 'Name'
  name_value = @user.name
  name_url = account_profile_name_path

  email_label = 'Email'
  email_value = @user.email
  email_url = account_profile_email_path

  phone_number_label = 'Phone number'
  phone_number_value = HawthorneCore::Helpers::PhoneNumber.us_format(phone_number: @user.phone_number)
  phone_number_url = account_profile_phone_number_path

  sign_in_code_default_delivery_label = 'Sign-In Code delivery'
  sign_in_code_default_delivery_value = @user.sign_in_code_default_delivery_pretty_print
  sign_in_code_default_delivery_url = phone_number_value.present? ? account_profile_sign_in_code_default_delivery_path : nil
%>

<%= render HawthorneCore::UI::User::Layout::ProfileComponent.new(title: title) do %>
  <%= render HawthorneCore::UI::User::ProfileAttrComponent.new(label: name_label, value: name_value, url: name_url) %>
  <%= render HawthorneCore::UI::User::ProfileAttrComponent.new(label: email_label, value: email_value, url: email_url) %>
  <%= render HawthorneCore::UI::User::ProfileAttrComponent.new(label: phone_number_label, value: phone_number_value, url: phone_number_url) %>
  <%= render HawthorneCore::UI::User::ProfileAttrComponent.new(label: sign_in_code_default_delivery_label, value: sign_in_code_default_delivery_value, url: sign_in_code_default_delivery_url) %>
  <div class="mt-8 pt-6 border-t border-gray-100">
    <%= link_to 'Delete account', account_profile_delete_account_path, class: "text-red-500 no-underline hover:underline text-sm" %>
  </div>
<% end %>