<%# v3.0 %>

<div class='title'>My Account</div>

<%# ------------------------------------------- %>

<hr class='section'>
<div class='vertical_space'></div>

<%# ------------------------------------------- Profile / Sign Out %>

<div style='display: table; margin: auto; text-align: left;'>
  <div style='display: table-row;'>
    <div style='display: table-cell;'>Name:</div>
    <div style='display: table-cell; padding-left: 0.5rem; padding-top: 0.75rem;'><%= @user.full_name %></div>
  </div>
  <div style='display: table-row;'>
    <div style='display: table-cell; padding-top: 0.75rem;'>Email:</div>
    <div style='display: table-cell; padding-left: 0.5rem;'><%= @user.email_address %></div>
  </div>
  <div style='display: table-row;'>
    <div style='display: table-cell; padding-top: 0.75rem;'>Phone:</div>
    <div style='display: table-cell; padding-left: 0.5rem; padding-top: 0.75rem;'><%= HawthorneCore::Helpers::PhoneNumber.us_format(@user.phone_number) %></div>
  </div>
  <div style='display: table-row;'>
    <div style='display: table-cell; padding-top: 0.75rem;'>PIN Delivery:</div>
    <div style='display: table-cell; padding-left: 0.5rem; padding-top: 0.75rem;'><%= @user.sign_in_pin_default_delivery.capitalize %></div>
  </div>
</div>

<div class='vertical_space'></div>

<%= link_to 'Profile', account_profile_path %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= link_to 'Sign Out', sign_out_path, data: { turbo: :false } %>

<%# ------------------------------------------- %>

<div class='vertical_space'></div>
<hr class='section'>
<div class='vertical_space'></div>

<%# ------------------------------------------- Shipping Addresses %>

<% if HawthorneCore::Site.this_site_has_checkout? %>

  <% @shipping_addresses&.each do |shipping_address| %>
    <%= raw(shipping_address.to_s) %> (<%= link_to 'X', '/delete-shipping-address?id=' + shipping_address.token, :title => 'Delete Shipping Address', data: { turbo: 'false' } %>)
    <div class='vertical_space'></div>
  <% end %>

  <%= link_to 'Add Shipping Address', add_shipping_address_path %> (<%= link_to 'US', add_shipping_address_path %> / International)

  <div class='vertical_space'></div>
  <hr class='section'>
  <div class='vertical_space'></div>

<% end %>

<%# ------------------------------------------- %>