<%# v3.0 %>

<%
  form_url = account_profile_email_address_verify_pin_path

  title = 'Verify your PIN'

  instruction_message = "Enter the PIN we emailed to: #{@new_email_address}"

  current_email_address_label = 'Current email address'
  current_email_address_value = @current_email_address

  new_email_address_label = 'New email_address'
  new_email_address_value = @new_email_address

  pin_label = 'Verification PIN - Numbers only'

  submit_button_text = 'Update Email Address'
%>

<%= render HawthorneCore::UI::TitleComponent.new(text: title) %>
<%= render HawthorneCore::UI::Form::FormWrapperComponent.new(instruction_message: instruction_message) do %>
  <%= form_with url: form_url do |f| %>
    <%= render HawthorneCore::UI::Form::TextFieldComponent.new(form: f, attribute: :current_email_address, label: current_email_address_label, value: current_email_address_value, disabled: true) %>
    <%= render HawthorneCore::UI::Form::TextFieldComponent.new(form: f, attribute: :new_email_address, label: new_email_address_label, value: new_email_address_value, disabled: true) %>
    <%= render HawthorneCore::UI::Form::TextFieldComponent.new(form: f, attribute: :pin, label: pin_label, required: true, autofocus: true) %>
    <%= render HawthorneCore::UI::Form::SubmitButtonComponent.new(form: f, text: submit_button_text) %>
  <% end %>
<% end %>

<div>
  Didn’t get the PIN?  <%= link_to 'Resend it', account_profile_email_address_resend_pin_path, data: { turbo: :false } %>
</div>